.forgotten_container {
    display: flex;
    height: 100vh;
    width: 100%;
}

.forgotten_container .forgotten_right {
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    background: var(--bg-color);
    padding-top: 5rem;
}

.forgotten_container .forgotten_right .head {
    text-align: center;
}

.forgotten_container .forgotten_right .head h1 {
    font-family: "Mona Sans", sans-serif; 
    font-size: 2.3rem;
    font-weight: 700;
    line-height: 48px;
    letter-spacing: -0.015em;
    color: var(--black);
}

.forgotten_container .forgotten_right .head p {
    font-family: "Mona Sans", sans-serif; 
    font-size: 1.125rem;
    font-weight: 500;
    line-height: 21.6px;
    color: var(--gray-p);
    margin-top: 0.5rem;
}

.forgotten_container .forgotten_right form {
    width: 70%;
    margin-top: 2rem;
}

.forgotten_container .forgotten_right form .input_box label {
    display: block;
    font-family: "Mona Sans", sans-serif; 
    font-size: 0.875rem;
    font-weight: 500;
    line-height: 16.8px;
    letter-spacing: -0.015em;
    color: var(--light-dark);   
    margin-bottom: 0.5rem;
}

.forgotten_container .forgotten_right form .input_box input {
    font-family: "Mona Sans", sans-serif; 
    font-size: 1rem;
    font-weight: 500;
    line-height: 19.2px;
    letter-spacing: -0.015em;
    color: var(--black);
    width: 100%;
    padding: 0.7rem 0.5rem;
    border-radius: var(--border-radius-0-4);
    border: none;
    border: 1px solid var(--light-gray);
}

.forgotten_container .forgotten_right .input_box input::placeholder {
    font-family: "Mona Sans", sans-serif; 
    font-size: 1rem;
    font-weight: 500;
    line-height: 19.2px;
    letter-spacing: -0.015em;
    color: var( --light-gray);
}

.forgotten_container .forgotten_right .input_box input:focus {
    outline: 1px solid var(--primary-color);
}

.forgotten_container .forgotten_right form .remember_box {
    text-align: center;
    margin-top: 2rem;
}

.forgotten_container .forgotten_right form .remember_box p {
    font-family: "Mona Sans", sans-serif; 
    font-size: 1.25rem;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: -0.015em;
    color: var(--black);
}

.forgotten_container .forgotten_right form .remember_box p .link {
    color: var(--primary-color);  
    text-decoration: none;
    transition: 0.3s ease;
}

.forgotten_container .forgotten_right form .remember_box p .link:hover {
    text-decoration: underline;
}




/*============================== MEDIA STYLES GOES HERE ==============================*/
@media (max-width: 900px) {
    .forgotten_container {
        flex-direction: column;
    }

    .forgotten_container .forgotten_right {
        width: 100%;
        padding-left: 1rem;
        padding-right: 1rem;
    }
    
}

@media (max-width: 580px) {
    .forgotten_container .forgotten_right form {
        width: 100%;
    }
    
}

@media (max-width: 426px) {
    .forgotten_container .forgotten_right .head h1 {
        font-size: 2rem;
        line-height: 40px;
    }
}

@media (max-width: 320px) {
    .forgotten_container .forgotten_right {
        padding-top: 3rem;
    }

    .forgotten_container .forgotten_right .head h1 {
        font-size: 1.6rem;
    }

    .forgotten_container .forgotten_right .head p {
        font-size: 1rem;
    }
                        
    .forgotten_container .forgotten_right form .input_box input,
    .forgotten_container .forgotten_right .input_box input::placeholder {
        font-size: 0.9rem;
    }

    .forgotten_container .forgotten_right form .remember_box p {
        font-size: 1.10rem;
    }

}