.footer_container {
    padding-left: 3rem;
    padding-right: 3rem;
    padding-bottom: 1.7rem;
    width: 100%;
    margin-top: 7rem;
}

.footer_container .footer_main {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer_main .footer_right {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.footer_right .social_box {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.footer_right .social_box .social_links {
    text-decoration: none;
    color: var(--gray-p);
    transition: 0.3s ease;
    font-weight: 600;
    font-size: 2.5rem;
}

.footer_right .social_box .social_links:hover {
    transform: scale(1.04);
}

.footer_container .text_box {
    margin-top: 3rem;
    display: flex;
    align-items: center;
    gap: 1.7rem;
}

.footer_container .text_box p {
    font-family: "Mona Sans", sans-serif; 
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: -0.015em;
    color: var(--gray-p);    
}

.footer_container .text_box a {
    font-family: "Mona Sans", sans-serif; 
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: -0.015em;
    color: var(--gray-p);  
    text-decoration: none;
    transition: 0.3s ease;  
}

.footer_container .text_box a:hover {
    color: var(--primary-variant);
}




/*==================================== MEDIA STYLES GOES HERE ==================================*/
@media (max-width: 768px) {
    .footer_container {
        padding-left: 2rem;
        padding-right: 2rem;
    }
    
}

@media (max-width: 426px) {
    .footer_container {
        padding-left: 1.3rem;
        padding-right: 1.3rem;
    }

    .footer_container .footer_main {
        flex-direction: column;
        row-gap: 1.5rem;
    }

    .footer_main .footer_left {
        width: 100%;
    }

    .footer_main .footer_right {
        width: 100%;
    }

    .footer_main .footer_left img {
        width: 100%;
        object-fit: cover;
    }

    .footer_container .text_box {
        justify-content: center;
    }

    .footer_container .text_box p,
    .footer_container .text_box a { 
        font-size: 18px;
    }
    
}

@media (max-width: 425px) {
    .footer_container .text_box p,
    .footer_container .text_box a { 
        font-size: 16px;
    }

}

@media (max-width: 320px) {
    .footer_container .text_box {
        gap: 1.2rem;
    }

    .footer_container .text_box p,
    .footer_container .text_box a { 
        font-size: 14px;
    }
    
}


