.reset_password_container {
    display: flex;
    height: 100vh;
    width: 100%;
}

.reset_password_container .reset_password_right {
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    background: var(--bg-color);
    padding-top: 5rem;
}

.reset_password_container .reset_password_right .head {
    text-align: center;
}

.reset_password_container .reset_password_right .head h1 {
    font-family: "Mona Sans", sans-serif; 
    font-size: 2.3rem;
    font-weight: 700;
    line-height: 48px;
    letter-spacing: -0.015em;
    color: var(--black);
}

.reset_password_container .reset_password_right .head p {
    font-family: "Mona Sans", sans-serif; 
    font-size: 1.125rem;
    font-weight: 500;
    line-height: 21.6px;
    color: var(--gray-p);
    margin-top: 0.2rem;
}

.reset_password_container .reset_password_right .form_wrapper {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-top: 3rem;
    width: 70%;
}

.reset_password_right .form_wrapper form .input_wrapper_box {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    row-gap: 1rem;
}

.reset_password_right .form_wrapper form .input_wrapper_box .input_box {
    position: relative;
}

.reset_password_right .form_wrapper form .input_wrapper_box .input_box label {
    display: block;
    font-family: "Mona Sans", sans-serif; 
    font-size: 14px;
    font-weight: 500;
    line-height: 16.8px;
    letter-spacing: -0.015em;
    color: var( --light-dark);   
    margin-bottom: 0.5rem; 
}

.reset_password_right .form_wrapper form .input_box input {
    font-family: "Mona Sans", sans-serif; 
    font-size: 1rem;
    font-weight: 500;
    line-height: 19.2px;
    letter-spacing: -0.015em;
    color: var(--black);
    width: 100%;
    padding: 0.7rem 0.5rem;
    border-radius: var(--border-radius-0-4);
    border: none;
    border: 1px solid var(--light-gray);
}

.reset_password_right .form_wrapper form .input_box input::placeholder {
    font-family: "Mona Sans", sans-serif; 
    font-size: 1rem;
    font-weight: 500;
    line-height: 19.2px;
    letter-spacing: -0.015em;
    color: var( --light-gray);
}

.reset_password_right .form_wrapper form .input_box input:focus {
    outline: 1px solid var(--primary-color);
}

.reset_password_right .form_wrapper form .input_box .show_and_hide_box {
    position: absolute;
    right: 1rem;
    top: 2.3rem;
    cursor: pointer;
    display: flex;
    align-items: center;
    z-index: 30;
}

.reset_password_right .form_wrapper form .input_box .show_and_hide_box .show_eye,
.reset_password_right .form_wrapper form .input_box .show_and_hide_box .hide_eye {
    font-size: 1.2rem;
    color: var(--icon-gray);
    transition: 0.3s ease;
}

.reset_password_right .form_wrapper form .error_box {
    display: flex;
    align-items: center;
    gap: 0.4rem;
    margin-top: 0.7rem;
}

.reset_password_right .form_wrapper form .error_box .icon {
    font-size: 1.3rem;
}

.reset_password_right .form_wrapper form .error_box .icon path {
    color: var(--dark-red);
}

.reset_password_right .form_wrapper form .error_box p {
    font-family: "Mona Sans", sans-serif; 
    font-size: 12px;
    font-weight: 500;
    line-height: 14.4px;
    letter-spacing: -0.015em;    
    color: var(--dark-red);
}





/*==================== MEDIA STYLES GOES HERE ======================*/
@media (max-width: 900px) {
    .reset_password_container {
       flex-direction: column;
    }

    .reset_password_container .reset_password_right {
        width: 100%;
        padding-left: 1rem;
        padding-right: 1rem;
    }
    
}

@media (max-width: 580px) {
    .reset_password_container .reset_password_right {
        padding-top: 3rem; 
    }

    .reset_password_container .reset_password_right .form_wrapper {
        width: 100%;
    }
    
}


@media (max-width: 426px) {
    .reset_password_container .reset_password_right .head h1 { 
        font-size: 2rem;
    }
    
    .reset_password_container .reset_password_right .head p {
        font-size: 1.100rem;
        margin-top: 0;
    }
      
}


@media (max-width: 320px) {
    .reset_password_container .reset_password_right .head h1 { 
        font-size: 1.5rem;
        line-height: 35px;
    }
    
    .reset_password_container .reset_password_right .head p {
        font-size: 1rem;
    }

    .reset_password_right .form_wrapper form .input_box input,
    .reset_password_right .form_wrapper form .input_box input::placeholder { 
        font-size: 0.9rem;
    }

    .reset_password_right .form_wrapper form .error_box .icon {
        font-size: 1.3rem;
    }
  
}