.profile_info_container {
    background-color: var(--bg-color);
    padding-top: 2rem;
    padding-bottom: 1.5rem;
}

.profile_info_container .profile_info_wrapper {
    margin-left: auto;
    margin-right: auto;
    width: 70%;
    padding-top: 2rem;
}

.profile_info_container .profile_info_wrapper h1 {
    font-family: "Mona Sans", sans-serif; 
    font-size: 32px;
    font-weight: 700;
    line-height: 38.4px;
    letter-spacing: -0.015em;
    text-align: center;
    color: var(--light-dark2);
}

.profile_info_container .profile_info_wrapper form {
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    row-gap: 1.5rem;
}

.profile_info_wrapper form .input_box label {
    font-family: "Mona Sans", sans-serif; 
    font-size: 18px;
    font-weight: 500;
    line-height: 14.4px;
    letter-spacing: -0.015em;
    color: var(--light-dark);
    display: block;
    margin-bottom: 0.5rem;
}

.profile_info_wrapper form .input_box .select_box {
    border-radius: var(--border-radius-0-4);
    padding: 0.8rem;
    border: 1px solid var( --light-gray);
}


.profile_info_wrapper form .input_box .select_box select {
    font-family: "Mona Sans", sans-serif; 
    font-size: 18px;
    font-weight: 500;
    width: 100%;
    border-radius: var(--border-radius-0-4);
    outline: none;
    border: none;
    background-color: transparent;
}

/* .profile_info_wrapper form .input_box .date {
    font-family: "Mona Sans", sans-serif; 
    font-size: 18px;
    font-weight: 500;
    width: 100%;
    border-radius: var(--border-radius-0-4);
    outline: none;
    border: 1px solid var( --light-gray);
    padding: 0.8rem;
} */

/* .profile_info_wrapper form .input_box .date {
    font-family: "Mona Sans", sans-serif; 
    font-size: 18px;
    font-weight: 500;
    border: none;
    background: transparent;
    cursor: pointer;
    outline: none;
} */

.profile_info_wrapper form .input_box .box {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    border-radius: var(--border-radius-0-4);
    border: 1px solid var(--light-gray);
    padding: 0.8rem;
}

.profile_info_wrapper form .input_box .box .date {
    font-family: "Mona Sans", sans-serif; 
    font-size: 18px;
    font-weight: 500;
    width: 100%;
    border: none;
    background: transparent;
    cursor: pointer;
    outline: none;
}

.dropDown-icon {
    font-size: 11px;
    color: var(--black);
    transition: transform 0.3s ease-in-out;
}
  
.dropDown-icon.rotate {
    transform: rotate(180deg);
}

.profile_info_wrapper form .input_box2  label,
.profile_info_wrapper form .text_area_box label {
    font-family: "Mona Sans", sans-serif; 
    font-size: 18px;
    font-weight: 500;
    line-height: 14.4px;
    letter-spacing: -0.015em;
    color: var(--light-dark);
    display: block;
    margin-bottom: 0.5rem;
}

.profile_info_wrapper form .input_box2 .select_city_content {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.profile_info_wrapper form .input_box2 .select_city_content .select_box {
    border-radius: var(--border-radius-0-4);
    padding: 0.8rem;
    border: 1px solid var( --light-gray);
    width: 100%;
}

.profile_info_wrapper form .input_box2 .select_city_content .select_box select {
    font-family: "Mona Sans", sans-serif; 
    font-size: 18px;
    font-weight: 500;
    width: 100%;
    border-radius: var(--border-radius-0-4);
    outline: none;
    border: none;
    background-color: transparent;
}

.profile_info_wrapper form .text_area_box .text_area_input {
    font-family: "Mona Sans", sans-serif; 
    font-size: 18px;
    font-weight: 500;
    width: 100%;
    border-radius: var(--border-radius-0-4);
    outline: none;
    border: 1px solid var( --light-gray);
    color: var(--black);
    padding: 0.8rem;
    resize: none;
    height: 110px;
}

.profile_info_wrapper form .text_area_box .text_area_input::-webkit-scrollbar {
    width: 0;
}

.profile_info_wrapper form .text_area_box .text_area_input::placeholder {
    font-family: "Mona Sans", sans-serif; 
    font-weight: 500;
    font-size: 16px;
    line-height: 14.4px;
    letter-spacing: -1.5%;
    color: var(--light-gray);    
}

.profile_info_wrapper form .profile_info_button {
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
    margin-top: 2rem;
}




/*============================== MEDIA STYLES GOES HERE ==============================*/
@media (max-width: 580px) {
    .profile_info_container {
        padding-left: 1rem;
        padding-right: 1rem;
    }

    .profile_info_container .profile_info_wrapper {
        width: 100%;
    }
   
    .profile_info_wrapper form .input_box2 .select_city_content {
        flex-direction: column;
        gap: 1rem;
    }
}

@media (max-width: 320px) {
    .profile_info_container .profile_info_wrapper {
        padding-top: 1rem;
    }

    .profile_info_container .profile_info_wrapper h1 { 
        font-size: 28px;
    }

    .profile_info_wrapper form .input_box .select_box select,
    .profile_info_wrapper form .input_box .date,
    .profile_info_wrapper form .input_box2 .select_city_content .select_box select,
    .profile_info_wrapper form .text_area_box .text_area_input {
        font-size: 16px;
    }

    .profile_info_wrapper form .input_box label,      
    .profile_info_wrapper form .input_box2  label,
    .profile_info_wrapper form .text_area_box label {
        font-size: 16px;
    }

    .profile_info_wrapper form .profile_info_button {
        flex-direction: column;
    }

    .profile_info_wrapper form .text_area_box .text_area_input::placeholder {
        font-size: 16px;   
    }


}